:root {
  //dark
  --header-color-dk: #647c90;
  --background-color-dk: #1d1c36;

  //normal (light)
  --header-color: #e2ded0;
  --background-color: #fefefe;
  --primary-text-color: black;
  --primary-text-highlited-color: #3a3ca2;

  //styling nav
  --nav-margin: 0.5rem;

  //breakpoints
  --mobile-min: 320px;
  --mobile-max: 480px;
  --tablets-min: 481px;
  --tablets-max: 768px;
  --laptops-min: 769px;
  --laptops-max: 1024px;
  --desktops-min: 1025px;
  --desktops-max: 1200px;
  --tv-min: 1201px;
}
