:root {
  //color-theme
  //normal (light)
  --primary-color: #fefefe;
  --secondary-color: #d7cec7;
  --third-color: #76323f;
  --fourth-color: #ad5566;

  //text
  --primary-text-color: black;
  --primary-text-color-btn: white;
  --primary-text-highlited-color: var(--third-color); //3a3ca2

  //glasmorphism (navbar)
  --glass: 100%;
  //font sizes
  //The clamp + 1rem is to make it scalable (for when text is to small etc)

  --normal-ft: clamp(1rem, 2.5vw, 1.3rem);

  --x-small-ft: 0.813rem;
  --small-ft: clamp(1rem, 5vw + 1rem, 3rem);
  --medium-ft: clamp(1.5rem, 1vw + 1rem, 2.5rem);
  --large-ft: clamp(3.25rem, 4vw + 1rem, 6rem);
  --large-ft-mobile: clamp(1.8rem, 3vw + 1rem, 3rem);
  --medium-ft-mobile: clamp(1rem, 1vw + 1rem, 3rem);

  //styling nav
  --nav-margin: 0.5rem;
  --nav-height: 3.5rem;

  //styling radio buttons
  --primary-label-color: #76323f;
  --secondary-label-color: #76323f99;
  --radio-text-color: #fefefe;

  @media (prefers-color-scheme: dark) {
    --primary-color: #2b2a33;
    --secondary-color: #6f6c8a;
    --third-color: #e27d60;
    --fourth-color: #fda68d;
    --primary-text-color: #fefefe;
    --primary-text-highlited-color: #e27d60;
    --primary-label-color: #e27d60;
    --secondary-label-color: #e27c60b6;
    --glass: 0%;
  }
}
