/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:root {
  font-family: 'Roboto Slab', serif;
  color: var(--primary-text-color);
  body {
    background-color: var(--primary-color);
  }
}
