/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:root {
  //font
  font-family: 'Roboto Slab', serif;
  color: var(--primary-text-color);
  scroll-behavior: smooth;
  body {
    background-color: var(--primary-color);
    margin: 0;
  }
}
// html {
//   scroll-snap-type: y mandatory;
// }
section {
  min-height: 100vh;
  // scroll-snap-align: start;
}
